.smallTable {
    width: 905px;
    margin: auto;
}

.flex-container-across {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.flex-container-down {
    display: flex;
    flex-direction: column;
}

.flex-text-left {
    color: black;
    white-space: pre-line;
    text-align: left;
    width: 40%;
}

.flex-text-right {
    color: black;
    white-space: pre-line;
    text-align: right;
    width: 40%;
}

.flex-text-center {
    color: black;
    white-space: pre-line;
    text-align: center;
    width: 70%;
}

.hint {
    color: rgb(136, 136, 136);
    font-style: italic;
}