#topBanner {
  height: 45px;
  background-color: #00467f;
}

#menuIcon {
  padding: 3px;
  position: absolute;
  width: 40px;
  height: 40px;
}

#pageTitle {
  font-size: 28px;
  color: white;
  margin: 0;
  padding-top: 5px;
  left: 500px;
  text-align: center;
}

#sidebar {
  width: 280px;
  min-height: 710px;
  background-color: white;
  height: 100%;
}

#sidebarLogo {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.landing_container {
  position: relative;
}

.centered {
  position: absolute;
  color: white;
  z-index: 100;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.landingImage{
  height: 1055px;
  width: 100%;
  opacity: .4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

p.loading {
  font-size: 20px;
  font-variant: small-caps;
}

button.page {
  background-color: #00467f;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  color: white;
  padding: 15px 20px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

button.page:hover {
  background-color: #009ddc;
}

button.back {
  background-color: #00467f;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 2px;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  width: 100px;
  height: 25px;
}

button.backRefresh {
  background-color: #00467f;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 2px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  width: 100px;
  height: 25px;
}